[run]
source =
    aajm_list/
    list/
    frontend/

omit =
    *migrations*
    *tests*
    *templates*
    *htmlcov*
    *urls*
    aajm_list/settings/*
    aajm_list/wsgi.py
    frontend/apps.py
    list/apps.py

branch = True