<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/frontend/css/main.bundle.css">
    <link rel="stylesheet" href="../../static/custom.css">
    <title>AAJM</title>
  </head>
  <body class="has-background-light">

    <div class="box has-background-dark">
      <h1 class="title has-text-weight-bold has-text-centered is-1 has-text-light">AAJM</h1>
    </div>

    {% block content %}
    {% endblock %}

  </body>
</html>