<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/frontend/css/main.bundle.css">
    <link rel="stylesheet" href="../../static/custom.css">
    <title>AAJM</title>
  </head>
  <body>

  <div class="box has-background-black">
      <h1 class="title has-text-weight-bold has-text-centered is-2 has-text-warning">AAJM</h1>
      <h2 class="subtitle has-text-centered has-text-warning">Shopping Lists</h2>
    </div>

    <section class="section" id="app">
      <!-- React -->
    </section>

  </body>
  {% load static %}
  <script src="{% static "frontend/main.js" %}"></script>
</html>