@charset "utf-8";

$primary: #e16428;
$dark: #17223b;
$text: #fff;

$input-background-color: #000;
$input-placeholder-color: #5f5f5f;
$input-focus-border-color: $primary;

$card-background-color: $dark;
$card-header-background-color: $dark;
$card-header-color: $primary;
$card-footer-background-color: $dark;

@import "~bulma/bulma";
